<!-- place_order.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
    <link href="{% static 'css/place_order.css' %}" rel="stylesheet">
</head>
<body>
  <div class="go-back">
    <a href="{% url 'index' %}">Go Back to Home</a>
</div>
  <div class="order-container "> 
  <!-- Example product listing in place_order.html -->
<form  class="order-form" method="POST" action="">
    {% csrf_token %}
    <h2 align="center">Place Order</h2>
    {% if msg %}
    <p class="alert">{{msg}}</p>
    {% endif %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <!-- Display product information -->
    <label>Quantity:</label>
    <input type="number" name="quantity" id="id_quantity" min="1" required placeholder="enter thr quantity">
    <input type="submit" value="Place Order">
  </form>
  
  
    </div> 
    
</body>
</html>
